<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" href="css/service_h5.css" />
		<script type="text/javascript" src="javascripts/fuwu/jquery.min.js"></script>
		<script type="text/javascript" src="javascripts/fuwu/base.js"></script>
		<title>我的服务页</title>
	</head>

	<body>
		<div class="top">
			<p>服务列表</p>
			<a href="javascript:void(0);" class="click_back"></a>
		</div>
		<ul class="myservice">
			<li>
				<span class="sanjiao red"></span>
				<div>
					<p class="idnum">ID:123456</p>
					<h2>医生咨询（APP特惠）</h2>
					<div class="minfo">
						<p>三甲医院对症专家电话咨询，指定医院预约就诊三甲医院对症专家电话咨询，指定医院预约就诊 </p>
					</div>
					<div class="jine">
						<span>应付金额</span>
						<span class="mprice jprice">￥999.00</span>
						<span class="quan">可用优惠券</span>
					</div>
					<a href="javascript:;" class="mpay gopay">去支付</a>
				</div>
			</li>
			<li>
				<span class="sanjiao red"></span>
				<div>
					<p class="idnum">ID:123456</p>
					<h2>医生咨询（APP特惠）</h2>
					<div class="jine">
						<span>应付金额</span>
						<span class="mprice jprice">￥999.00</span>
					</div>
					<a href="javascript:;" class="mpay paying">确认支付中</a>
				</div>
			</li>
			<li>
				<span class="sanjiao hui"></span>
				<div>
					<img src="/images/fuwu/over.png" alt="" class="over"/>
					<p class="idnum">ID:123456</p>
					<h2>医生咨询（APP特惠）</h2>
					<div class="minfo">
						<h5>可用服务次数 : 9   进行中 : 2   已完成 : 1</h5>
						<p>三甲医院对症专家电话咨询，指定医院预约就诊三甲医院对症专家电话咨询，指定医院预约就诊 </p>
					</div>
					<div class="jine">
						<span>实付金额</span>
						<span class="mprice">￥99.00</span>
					</div>
					<a href="javascript:;" class="mpay again">再次购买</a>
					<div class="goping">
						<div>
							<img src="/images/fuwu/toux.png" alt="" class="mpic"/>
							<div class="wenti">
								<p>四个月宝宝一直咳嗽什么原因</p>
								<p>郭宝静   2015-02-12 11:45</p>
							</div>
							<u>立即评价，尊享礼券</u>
							<img src="/images/fuwu/myarr.png" alt="" class="myarr"/>
						</div>
					</div>
				</div>
			</li>
			<li>
				<span class="sanjiao lan"></span>
				<div>
					<img src="/images/fuwu/tuikuan.png" alt="" class="over"/>
					<p class="idnum">ID:123456</p>
					<h2>医生咨询（APP特惠）</h2>
					<div class="minfo">
						<h5>有效期：2015-10-18至2015-12-20</h5>
						<h5>可用服务次数 : 9   进行中 : 2   已完成 : 1</h5>
					</div>
					<div class="jine">
						<span>实付金额</span>
						<span class="mprice">￥99.00</span>
					</div>
					<a href="javascript:;" class="mpay paying">确认支付中</a>
				</div>
			</li>
			<li>
				<span class="sanjiao hui"></span>
				<div>
					<p class="idnum">ID:123456</p>
					<h2>医生咨询（APP特惠）</h2>
					<div class="minfo">
						<h5>可用服务次数 : 9   进行中 : 2   已完成 : 1</h5>
						<p>三甲医院对症专家电话咨询，指定医院预约就诊三甲医院对症专家电话咨询，指定医院预约就诊 </p>
					</div>
					<div class="jine">
						<span>实付金额</span>
						<span class="mprice">￥99.00</span>
					</div>
					<a href="javascript:;" class="mpay again">再次购买</a>
					<div class="goping">
						<div>
							<img src="/images/fuwu/toux.png" alt="" class="mpic"/>
							<div class="wenti">
								<p>四个月宝宝一直咳嗽什么原因</p>
								<p>郭宝静   2015-02-12 11:45</p>
							</div>
							<u>立即评价，尊享礼券</u>
							<img src="/images/fuwu/myarr.png" alt="" class="myarr"/>
						</div>
					</div>
				</div>
			</li>
			<li>
				<span class="sanjiao hui"></span>
				<div>
					<img src="/images/fuwu/close.png" alt="" class="over"/>
					<p class="idnum">ID:123456</p>
					<h2>医生咨询（APP特惠）</h2>
					<div class="minfo">
						<h5>可用服务次数 : 9   进行中 : 2   已完成 : 1</h5>
						<p>三甲医院对症专家电话咨询，指定医院预约就诊三甲医院对症专家电话咨询，指定医院预约就诊 </p>
					</div>
					<div class="jine">
						<span>实付金额</span>
						<span class="mprice">￥99.00</span>
					</div>
					<a href="javascript:;" class="mpay again">再次购买</a>
				</div>
			</li>
			<li>
				<span class="sanjiao hui"></span>
				<div>
					<img src="/images/fuwu/over.png" alt="" class="over"/>
					<p class="idnum">ID:123456</p>
					<h2>医生咨询（APP特惠）</h2>
					<div class="minfo">
						<h5>可用服务次数 : 9   进行中 : 2   已完成 : 1</h5>
						<p>三甲医院对症专家电话咨询，指定医院预约就诊三甲医院对症专家电话咨询，指定医院预约就诊 </p>
					</div>
					<div class="jine">
						<span>实付金额</span>
						<span class="mprice">￥99.00</span>
					</div>
					<a href="javascript:;" class="mpay again">再次购买</a>
				</div>
			</li>
		</ul>
	</body>

</html>