<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="cache-control" content="no-cache">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" href="/website/stylesheets/fuwu/service_h5.css" />
		<script type="text/javascript" src="/website/stylesheets/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="/website/javascripts/jquery.cookie.js"></script>
		<script type="text/javascript" src="/website/javascripts/jquery.client.js"></script>
		<script type="text/javascript" src="/website/stylesheets/javascripts/base.js"></script>
		<title>毛毛的服务详情</title>
	</head>
	<body>
		<div class="top">
			<p>毛毛的服务详情</p>
			<a href="javascript:void(0);" class="click_back"></a>
		</div>
		<div class="serdetail">
			<div class="prom">
				<h3>7岁女宝宝说自己一侧乳头痒，是怎么回事呢？</h3>
			</div>
			<ul class="prolist">
				<li>
					<h5>回访完成，本次服务结束。感谢您选择我们的服务！</h5>
					<p>2015-02-12&nbsp;&nbsp;&nbsp;11:45</p>
				</li>
				<li>
					<h5>回访完成，本次服务结束。感谢您选择我们的服务！</h5>
					<p>2015-02-12&nbsp;&nbsp;&nbsp;11:45</p>
				</li>
				<li>
					<h5>回访完成，本次服务结束。感谢您选择我们的服务！</h5>
					<p>2015-02-12&nbsp;&nbsp;&nbsp;11:45</p>
				</li>
				<img src="/website/images/fuwu/shen.png" alt="" class="slide"/>
			</ul>
			<dl class="jilu">
				<dt>
					<img src="/website/images/fuwu/toux.png" alt="" class="toux"/>
					<div class="jieshao">
						<p class="hos">北京协和医院</p>
						<p class="doc">杨智丽 <span>儿科副主任</span></p>
						<p class="zix">为您提供本次咨询</p>
					</div>
				</dt>
				<dd>
					<div>
						<h4>问题描述</h4>
					    <p>基本情况：已经持续一周了，宝宝在晚上6点30至8点之间会严重哭闹，吃了西甲硅油也没什么效果，现在是纯母乳喂养，每天大便2-3次，偶尔有水样便，有奶瓣，肚子不是很胀，排气不多，每次喂奶后都有拍隔动作，10分钟左右，偶尔能拍出嗝，其他时间有哼唧的情况。</p>
				        <p>咨询问题：这是什么原因？我们应该怎么做？</p>
					</div>					
				</dd>
				<dd>
					<div>
						<h4>回访记录</h4>
					    <p>刘主任根据孩子的情况，表示明天就可以来医院找他就诊检查下，我们家在外地，没想到主任能给予这么便捷的帮助，太感谢了，我们今天就动身，小鲤鱼的服务很快很及时，赞一个，期待刘主任的面诊。</p>
					</div>	
				</dd>
			</dl>
			<div class="pingjia">
				<h4>我对本次服务的评价</h4>
				<ul>
					<li>
						<img src="/website/images/fuwu/toux.png" alt="" class="toux"/>
						<div>
							<p>北京协和医院 儿科副主任</p>
							<p class="doc">杨志立</p>
							<p class="shuip">
								<span>服务态度</span>
								<img src="/website/images/fuwu/startlevel5.png" alt="" />
							</p>
							<p class="shuip">
								<span>医术水平</span>
								<img src="/website/images/fuwu/startlevel5.png" alt="" />
							</p>
						</div>
					</li>
					<li>
						<img src="/website/images/fuwu/toux.png" alt="" class="toux"/>
						<div>
							<p>北京协和医院 儿科副主任</p>
							<p class="doc">杨志立</p>
							<p class="shuip">
								<span>服务态度</span>
								<img src="/website/images/fuwu/startlevel5.png" alt="" />
							</p>
							<p class="shuip">
								<span>医术水平</span>
								<img src="/website/images/fuwu/startlevel5.png" alt="" />
							</p>
						</div>
					</li>
				</ul>
				<div class="extra">
					<p>词霸英语为广大网友提供在线翻译、在线词典、英语口语、英语学习资料、汉语词典,金山词霸下载等服务,致力于为您提供优质权威的在线英语服务,是5000万英语学习者的...</p>
				</div>
			</div>
		</div>
	</body>
</html>
